<div class="header">
  <div class="header__logo">
    <a href="#">
      <img src="../../../assets/logo.png" class="logo" alt="Urfu">
    </a>
  </div>
  <div class="header__nav">
      <a routerLink="programs" class="header__linq nav__linq clr-blue-dark u-fw-600">
        Программы
      </a>
      <a href="#" class="header__linq nav__linq clr-blue-dark u-fw-600">
        Контакты
      </a>
      <a href="#" class="header__linq nav__linq clr-blue-dark u-fw-600">
        Поддержка
      </a>
  </div>
</div>
